---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="navbar">
			<div class="logo">
				<h5>
					<a href="/">{SITE_TITLE}</a> 
				</h5>
			</div>
			
			<div class="links">
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/blog">Blog</a>
				<a href="/test">Test</a>
			</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 var(--size-6);
		border-radius: var(--radius-3);
  	padding: var(--size-fluid-3);
		box-shadow: var(--shadow-2);
	}
	.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

.links {
  margin-right: 20px; 
}

.links a {
  margin-left: 20px;
}
</style>
